<h1>{{title}}</h1>
<p>Welcome to the {{title}}. Open the console and take a look...</p>

<pre><code class="language-javascript">
// monitor events
monitorEvents(window, ['mouse']);
unmonitorEvents(window);

// monitor
monitor(someName);
unmonitor(someName);

// dir an object
console.dir(document.documentElement);
console.dir(document.body.firstChild);
</code></pre>

<br>
<br>
<input type="text" autofocus placeholder="Start typing here...">
<br>
<br>
<pre><code class="language-javascript">
monitorEvents(document.querySelectorAll('input')[0], ['key']);
</code></pre>


<script src="/javascripts/prism.js"></script>
<script>
function someName(a, b) {
	return a + b;
}
</script>